<?xml version="1.0" encoding="UTF-8" ?>
<suite name="DiscuzWhiteTest">
    <parameter name="Browser" value="chrome"/>
<test name="product">
    <classes>
      <!--  <class name="AbsTest"/>
        <class name="WhiteTest"/>-->
        <class name="TestCrossBrowserTest"/>
    </classes>
</test>
</suite>
